<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <h1>{{ title }}</h1>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <input [(ngModel)]="filterPhrase"
             type="text"
             class="form-control">
    </div>
  </div>
  <div><button class="btn btn-primary"
            (click)="routeToAdd()">Add</button></div>
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th (click)="setSorterKey('id')">#</th>
            <th (click)="setSorterKey('name')">Name</th>
            <th (click)="setSorterKey('isActive')">Active</th>
            <th (click)="setSorterKey('age')">Age</th>
            <th (click)="setSorterKey('email')">Email</th>
            <th (click)="setSorterKey('phone')">Phone</th>
          </tr>
        </thead>

        <tbody>
          <tr
              *ngFor="let user of userList | filter:filterPhrase:changeCounter | sorter:orderKey:orderDirection:changeCounter">
            <td>{{ user.id }}</td>
            <td>{{ user.name.first }} {{ user.name.last }}</td>
            <td>{{ user.isActive }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td> <button class="btn btn-info"
                      (click)="routeToEdit(user)">update</button></td>
            <td><button class="btn btn-danger"
                      (click)="onDelete(user)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
