<div>
  <h1> {{ title }} </h1>

  <table class="table table-primary table-striped">
    <thead class="col">
      <tr>
        <th *ngFor="let item of thead">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td><input class="form-control"
                 type="text"
                 [(ngModel)]="user.id"></td>
        <td><input class="form-control"
                 type="text"
                 [(ngModel)]="user.name.last+' '+user.name.first"></td>
        <td><input class="form-control"
                 type="checkbox"
                 [(ngModel)]="user.isActive"
                 ng-checked="user.isActive"></td>
        <td><input class="form-control"
                 type="number"
                 [(ngModel)]="user.age"></td>
        <td><input class="form-control"
                 type="email"
                 [(ngModel)]="user.email"></td>
        <td><input class="form-control"
                 type="text"
                 [(ngModel)]="user.phone"></td>
      </tr>
    </tbody>
  </table>
</div>
