h2 {
  text-align: center;
  color: #337FFF;
}

.card {
  margin-top: 100px;
  height: 250px;
  text-align: center;
}

.card-body {}

#userNumber {
  color: #fff;

}

#userBalance {
  color: #fff;

}

#apples {
  color: #fff;
}
