<!-- <router-outlet></router-outlet> -->
<h2>Edit User</h2>

<form (submit)="onSubmit($event)"
      action="">
  <div class="form-group">
    <label for="">First Name</label>
    <input name="firstName"
           class="form-control"
           [(ngModel)]="user.name.first"
           type="text">
  </div>
  <div class="form-group">
    <label for="">Last Name</label>
    <input name="lastName"
           class="form-control"
           [(ngModel)]="user.name.last"
           type="text">
  </div>
  <div class="form-group">
    <select name="isActive"
            id="isActive"
            class="form-control"
            [(ngModel)]="user.isActive">
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
    <!-- <label class="form-check-label"
           for="isActive">Active</label> -->
    <!-- <input name="isActive"
           class="form-control"
           [(ngModel)]="user.isActive"
           type="text"> -->
  </div>
  <div class="form-group">
    <label for="">Age</label>
    <input name="age"
           class="form-control"
           [(ngModel)]="user.age"
           type="text">
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input name="email"
           class="form-control"
           [(ngModel)]="user.email"
           type="email">
  </div>
  <div class="form-group">
    <label for="">Phone</label>
    <input name="tel"
           class="form-control"
           [(ngModel)]="user.phone"
           type="tel">
  </div>

  <button class="btn btn-primary">
    Save
  </button>

</form>
