<h2>Edit Product</h2>

<form (submit)="onSubmit($event)"
      action="">
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name"
           class="form-control"
           type="text"
           [(ngModel)]="product.name">
  </div>
  <div class="form-group">
    <label for="picture">Picture</label>
    <input name="picture"
           class="form-control"
           type="text"
           [(ngModel)]="product.picture">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input name="description"
           class="form-control"
           type="text"
           [(ngModel)]="product.description">
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input name="color"
           type="text"
           class="form-control"
           [(ngModel)]="product.color">
  </div>

  <button class="btn btn-primary">
    Save
  </button>

</form>
