<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Insdate</th>
        <th>Picture</th>
        <th>Description</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of items"> -->
        <!-- <td><a (click)="remove(item.product.id)">X</a></td> -->
        <td>{{ product.name }}</td>
        <td>{{ product.type }}</td>
        <td>{{ product.insdate }}</td>
        <!-- <td><img src="{{ product.picture }}"width="50"></td> -->
        <td>{{ product.description }}</td>
        <td>{{ product.color }}</td>
        <td>Total</td>
        <td>{{total}}</td>
        <!-- <td><img src="{{ product.picture }}"width="50"></td> -->
        
        <td><button class="btn btn-danger">Order</button></td>
      <!-- </tr> -->
    </tbody>
  </table>
  <!-- <ul>
    <li>Recently added product: {{}}</li>
</ul>
<h3>Cart</h3>
<ul>
    <li>*ngFor="#item of cart" {{item}}</li>
</ul> -->
