<nav class="navbar navbar-expand-lg navbar-dark bg-dark">



  <div class="collapse navbar-collapse"
       id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/admin"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/product-admin"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Product Admin</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"
           routerLink="/product-admin/add-product-admin"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Add Product Admin</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/order-admin"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Order Admin</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"
           routerLink="/order-admin/add-order-admin"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Add Order Admin</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/products"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Products</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"
           routerLink="/products/:id"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Product Details</a>
      </li> -->
    </ul>

  </div>
</nav>
